
/*FONT-PROPERTIES
  > font-size
  > font-family
  > font-weight
  > font-style
  > font-variant
  > line-height 
*/

.box {
  font-size: 1.7rem;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: normal;
  font-style: oblique;
  font-variant: normal;
  line-height: 3rem;
}
