.box-1 {
  width: 20px;
}

.box-2 {
  width: 40px;
}

.box-3 {
  width: 60px;
}

.box-4 {
  width: 80px;
}

.box-5 {
  width: 100px;
}

.item-1 {
  margin: 5px;
}

.item-2 {
  margin: 10px;
}

.item-3 {
  margin: 15px;
}

.item-4 {
  margin: 20px;
}