
body {
    background-color: #3C3C3C;
    color: #fff;
    font-family: sans-serif;
}

p {
    background-color: seagreen;
    color: #000;
}

.container {
    display: flex;
    flex-wrap: wrap;

    div {
        border: 1px solid rgba(252, 252, 252, 0.062);
        padding: .3em;
    }
}